extends ./layouts/default

block content
  .content-container
    .row
      .two.columns
      .four.columns.test-align
        img(src='/img/under-construction.svg' id='construction')
      .one.columns
      .three.columns.test-align
        h2 Sorry!
        p This route is still under construction.
      .one.columns
    hr