extends ./layouts/default

block content
  .content-container
    .row
      .one.columns
      .four.columns.test-align
        img(src='/img/landing-profile.jpg' id='landing-profile')
      .seven.columns.test-align
        h2 Khai | BU ENG '18 
        p. 
          Hi, I'm Khai. My cousins call me 'Bob' and my friends sometimes call me 'Khailo' or 'Khaineki'.
        p.
         A lot of this site is still under construction, but feel free to browse around!
    hr