extends ./layouts/default

block content
  .content-container
    .row
      .one.columns
      .four.columns.test-align
        img(src='/img/landing-profile.jpg' id='landing-profile')
      .one.columns
      .five.columns.test-align
        h1 Welcome!
        p Hi, I'm Khai. Feel free to browse around!
      .one.columns
    hr