.my-navbar-container
  nav
    button(id='drop-down-button' onclick="toggle_menu('nav-toggle')") =
    div(class='my-navbar-brand' id='drop-down')
      a(href='/') Khaineki Ken

    ul.my-navbar-left.nav-toggle
      li 
        a(href='/') .Projects
      li
        a(href='/') .Gallery
    
    .my-navbar-brand 
      a(href='/') Khaineki Ken
    
    ul.my-navbar-right.nav-toggle
      li 
        a(href='/') .About
      li 
        a(href='/') .Contact
  script(src='/js/toggle-menu.js')