.my-navbar-container
  nav
    button(id='drop-down-button' onclick="toggle_menu('nav-toggle')") =
    div(class='my-navbar-brand' id='drop-down')
      a(href='/') Khaineki Ken

    ul.my-navbar-left.nav-toggle
      li 
        a(href='/projects') .Projects
      li
        a(href='/gallery') .Gallery
    
    .my-navbar-brand 
      a(href='/home') Khaineki Ken
    
    ul.my-navbar-right.nav-toggle
      li 
        a(href='/aboutme') .About Me
      li 
        a(href='/resume') .R&eacutesum&eacute

  script(src='/js/toggle-menu.js')