extends ./layouts/default.pug

block content
  .content-container
    div(class='project-slide-left')
      .row
        .twelve.columns.project-title
          h2 Title
      .row.project-content
        .seven.columns
          div(class='proj-desc')
            .row
              .twelve.columns.proj-what
                h2 What
            .row
              .twelve.columns.proj-why
                h2 Why
            .row
              .twelve.columns.proj-where
                h2 Where
        .five.columns.proj-image
      .row
        .twelve.columns
          h2 Links