extends ./layouts/default.pug

block content
  .content-container
    .row
      .twelve.columns#proj-header 
        h1 .PROJECTS
        hr
    .proj-slide-left
      .row
        .twelve.columns.proj-title
          h2 Sample Title
      .row.proj-content
        .one.columns
        .six.columns
          div(class='proj-desc')
            .row
              .twelve.columns.proj-what
                h3 WHAT
                p.
            .row
              .twelve.columns.proj-why
                h3 WHY
                p.
            .row
              .twelve.columns.proj-where
                h3 WHEN / WHERE
                p.
        .four.columns.cell-align
          img(id='proj-one-image')
        .one.columns
      .row
        .twelve.columns.proj-links
          h4 LINKS
          p 
            a(href='') Source Code
      hr