body {
	margin: 0;
	background: white;
	font-family: 'Montserrat', sans-serif;
}

/**
 * NAVBAR CSS
 */

.my-navbar-container {
	background: black;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	z-index: 1;
}

.my-navbar-left {
	float: left;
	width: 40%;
	display: inline-block;
	text-align: right;
}

.my-navbar-brand {
	width: 20%;
	display: inline-block;
	text-align: center;
	padding: 10px 0;
}

#drop-down {
	text-decoration: underline;
	display: none;
}

#drop-down-button {
	position: fixed;
	top: 12px;
	right: 15px;
	display: none;
	font-weight: bold;
	background-color: black;
	color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #1aefb3;
	border-radius: 15%;
}

#drop-down-button:active {
	background-color : #1aefb3;
}

.my-navbar-right {
	float: right;
	width: 40%;
	display: inline-block;
	text-align: left;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 0 30px;
	padding: 15px 0;

	position: relative;
}

nav ul > li > a, .my-navbar-brand > a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.my-navbar-brand > a {
	font-size: 22px;
	font-weight: 800;
}

nav ul > li > a:hover {
	color: white;
	text-decoration: none;
}

nav ul > li > a::before {
	content: '';
	display: block;
	height: 5px;
	top: 20%;
	width: 0%;
	position: absolute;
	background-color: #1aefb3;

	transition: all ease-in-out 250ms;
}

nav ul > li > a:hover::before {
	width: 100%;
}

nav ul > li > a:visited, .my-navbar-brand > a:visited {
	color: white;
	text-decoration: none;
}

.my-navbar-brand > a:hover {
	text-transform: lowercase;
}

/**
 * CONTENT
 */

.content-container {
	width: 84%;
	margin: auto;
	position: relative;
	top: 105px;
}

/* CHANGE THIS SHITTY NAME */
.test-align {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

/* Construction */
#construction {
	width: 80%;
	height: auto;
}

#landing-profile {
	width: 80%;
	height: auto;
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	margin-bottom: 30px;
}

/* Responsive Media Query */
@media screen and (max-width: 947px) {
	.my-navbar-left {
		float: right;
		width: 100%;
		display: block;
		text-align: center;
	}

	.my-navbar-brand {
		width: 100%;
		display: none;
	}

	#drop-down {
		display: block;
	}

	#drop-down-button {
		display: initial;
	}

	.my-navbar-right {
		float: right;
		width: 100%;
		display: block;
		text-align: center;
	}

	.nav-toggle {
		display: none;
	}

	nav li {
		margin: 0 30%;
	}
}

@media screen and (min-width: 948px) {
	.my-navbar-left {
		display: inline-block !important;
	}

	.my-navbar-right {
		display: inline-block !important;
	}
}

@media screen and (max-width: 549px) {
	#drop-down-button {
		padding-left: 2px;
		padding-right: 2px;
	}
}